<h2>Selected shop Items</h2>
<table border="1">
  <tr>
    <th>Product Id</th>
    <th>Name</th>
    <th>ShopId</th>
    <th>Category</th>
    <th>Review</th>
    <th>Rating</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <tr *ngFor="let item of shopItems">
    <td>{{ item.item.productId }}</td>
    <td>{{ item.item.name }}</td>
    <td>{{ item.item.shopId }}</td>
    <td>{{ item.item.category }}</td>
    <td>{{ item.item.review }}</td>
    <td>{{ item.item.rating }}</td>
    <td>{{ item.item.price }}</td>

    <td>
      <div class="button-container">
        <button class="btn btn-danger" (click)="decreaseQuantity(item)">
          <b>-</b>
        </button>
        <span
          class="text-between-buttons"
          style="padding-left: 8px; padding-right: 8px"
          ><b>{{ item.quantity }}</b></span
        >
        <button class="btn btn-success" (click)="increaseQuantity(item)">
          <b>+</b>
        </button>
      </div>
    </td>
    <td>
      <button
        class="btn btn-primary"
        [disabled]="item.quantity <= 0"
        (click)="
          addToCart(
            item.item.productId,
            item.item.price,
            item.item.name,
            item.item.shopId,
            item.quantity
          )
        "
      >
        Add to Cart
      </button>
    </td>
  </tr>
</table>
<hr />
<button class="btn btn-primary" (click)="getCartItems()">Get Cart Items</button>
<ul *ngFor="let cart of cartItems">
  <li>{{ cart }}</li>
</ul>
